.aside__container {
	--color-1: #E8E8E4;
}
.aside__container {
	background-color: var(--color-1);
}

.aside {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1rem;
}

.menu {
	list-style-type: none;
	display: flex;
	flex-direction: column;

}

.add-form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.add-form__title {
	flex: 1 0 100%;
}