#header {
	--color-1: #FCD5CE;
}

#header {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 3rem;
	background-color: var(--color-1);
}

.header__container {
	display: flex;
	align-items: center;
}