@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./assets/icons/MaterialIcons-Regular.ttf)
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.content {
	display: grid;
	grid-template-areas: 
		"header header"
		"toolbar hero";
	grid-template-columns: 15rem 1fr;
	grid-template-rows: 5rem 1fr;
	height: 100%;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.header__container {
	grid-area: header;
}

.main__container {
	grid-area: hero;
}

.aside__container {
	grid-area: toolbar;
}

.invisible {
	display: none !important;
}